/* .heder{
    height: 100vh;

}
.headercontent{
    padding-top: 5rem;

   
}
.comp{
    margin: auto;
    height: 60vh;
    margin-top: 5rem;
    background-color: rgba(177, 175, 175, 0.1);
    display: flex;
    justify-content: space-around;
    border: 1px solid #ccc;
    width:100vh;
    border-radius: 3%;
    transition: 1s;


}
.comp:hover{
    background-color: rgba(104, 103, 103, 0.6);

}
.name{
    width: 49%;
    display: flex;
    justify-content: center;
    font-size: 2.5rem;
    font-weight: bold;
    color: blueviolet;
    flex-direction: column;
    align-items: center;
}
.about_img{
    max-width: 89%;
    height: 80%;
}
.myjob{
    color: black;
} */
.about__container{
    grid-template-columns: 3fr 9fr;
    column-gap: 1.875rem;
}
.about__data{
    padding: 1.875rem;
    background-color: var(--container-color);
    box-shadow: var(--shadow);
    border-radius: var(--border-radius);
    grid-template-columns: repeat(2,1fr);
    column-gap: 1.875rem;
    align-items: flex-start;
    position: relative;
}
.about__data::before{
    content: '';
    width: 0;
    height: 0;
    border-top:10px solid transparent;
    border-bottom:10px solid transparent;
    border-right:15px solid var(--container-color);
    position: absolute;
    left: -0.93rem;
    top: 20%;
}
.about__img{
    border-radius: 50%;
    height: 250px;
    width: 250px;

    background-color: rgb(137 134 121);
    transform: rotate(-5deg);
    transition: 0.5s;
}
.about__img:hover{
    transform: scale(1.2);
}

.about__description{
 margin-bottom: 1rem;
 text-align: justify;
}
.about__skills{
    row-gap: 1.25rem;
}
.skills__titles{
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;

}
.skills__name{
    font-size: var(--normal-font-size);
    font-weight: var(--font-medium);
}
.skills__number{
    line-height: 1.2;
}
.skills__bar,
.skills__percentage{
    height: 7px;
    border-radius: 0.25rem;
}
.skills__bar{
    background-color: #f1f1f1;
}
.skills__percentage{
    display: block;
    background-color: var(--first-color);
}
.Javascript{
    width: 80%;
    background-color: rgb(255,209,92);
}
.Angular{
    width: 80%;
    background-color: rgb(221, 23, 23);
}

.js{
    width: 85%;
    background-color: rgb(12, 155, 36);
}
.native{
    width: 75%;
    background-color: rgb(31, 50, 224);
}

.about__boxs{
    grid-template-columns: repeat(4,1fr);
    column-gap: 1.875rem;
    margin-top: 4.25rem;
}
.about__box{
    display: flex;
    column-gap: 1.5rem;
}
.about__icon{
    font-size: var(--h1-font-size);
    color: #c4c2c2;
}
.about__title{
    font-size: 1.875rem;
}


@media screen and (max-width:1024px){
    .about__container{
        grid-template-columns: 720px;
        justify-content: center;
        row-gap: 1.875rem;
    }
    .about__data::before{
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-bottom: 10px solid #fff;
        left :49%;
        top: -20px;
    }
    .about__img{
        justify-self: center;

    }
    .about__box{
        flex-direction: column;
        row-gap: 0.5rem;
        text-align: center;
    }
}

@media screen and (max-width: 768px){
    .about__container{
        grid-template-columns: 350px;
    
    }
    .about__data::before{
        left: 47%;
    }
    .about__data{
        grid-template-columns: 1fr;
        row-gap: 1.875rem;
    }
    .about__boxs{
        grid-template-columns: repeat(2,150px);
        row-gap: 1.5rem;
        justify-content: center;

    }
}
    
