.navbar{
    position: fixed;
    width: 100%;
    background-color: rgba(235, 233, 236, 0.8);
    align-items: center;
    justify-content: space-between;
    z-index: 100;
    transition: 1s;
   font-weight: bold;
   color: black ;
}
.navbar:hover{
    background-color: rgba(20, 20, 20, 0.8);
    color: rgb(216, 210, 201);

}
.listnav{
    display:flex ;
    width: 80%;
    justify-content: space-around;
    align-items: center;

    flex-direction:row;
    height: 5rem;
    margin: 0;
}
.listnav li{

    width: 20%;
    font-size:1.5rem;
    height: 100%;
    border-radius: 40%;
    display: flex;
    align-items: center;
    color: black;

}

.navbar-expand-lg{
    display: flex!important;
    flex-basis: auto;
    justify-content: flex-end;
}
#navbarNavDropdown{
    justify-content: flex-end;
}

.listnav li:hover{
    color: aliceblue;
    /* background-color: rgb(131, 233, 247); */
}
.logonav{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: flex;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-left: 2rem;
    height: 3rem;
    /* width: 15%; */
    font-size: 1.5rem;
    font-weight: 500;
    
}
.imgnav{
    margin-right: 0.5rem;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.btnnav{
    background-color: transparent;
    border: none !important;
    padding: 0.5rem;
    margin-left: 2.5rem;
    font-size: 1.1rem;
    font-weight: 500;
    border-radius: 10%;
    text-align: center;
    transition: 0.5rem;

}
.btnnav a{
    color: rgb(161, 130, 89);
}
.btnnav:hover a{
    color: #fff ;
 }

@media screen and (max-width:1100px) {
    .btnnav a{
        font-size: 1.1rem;
    }
    .btnnav{
        padding-left: 1rem;   
        margin-left: 1rem;
     }
}
@media screen and (max-width:990px) {
    .logonav{
        margin-left: 0.1rem;
        margin-bottom: 0.3rem;
    }
    .btnnav{
        font-size: 1.6rem;
        margin: 0;
        margin-top: 0.2rem;
        z-index: 10;
    }
    
    .btnnav:hover{
       background-color:  rgb(161, 130, 89);
       border-radius: 0;
    }
    
}
@media screen and (max-width:500px) {
    .btnnav{
        font-size:1rem;
    }
}